@import "tailwindcss";

html, body {
  width: 100%;
  overflow-x: hidden; 
  scroll-behavior: smooth;
}

@keyframes slideUp {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

/* Hide scrollbar */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@media (max-width: 768px) {
  /* Adjust the carousel for smaller screens */
  .carousel {
    padding: 10px;
  }

  .carousel-item {
    width: 100%; /* Full width on mobile */
    margin: 0;
  }
}

/* Hide scrollbar for all browsers */
.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}
